#{extends 'template/layout.html' /}
#{set title:'User' /}
#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/lte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css'}">
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/lte/bower_components/datatables.net/js/jquery.dataTables.min.js'}"></script>
<script src="@{'/public/lte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js'}"></script>
<script type="text/javascript" src="@{'public/js-xlsx/jszip.js'}"></script>
<script type="text/javascript" src="@{'public/js-xlsx/xlsx.js'}"></script>
<!-- <script type="text/javascript" src="@{'public/utils/download-trx.js'}"></script> -->
<script type="text/javascript" src="@{'public/utils/download-user.js'}"></script>
<script type="text/javascript" src="@{'public/filesaver/FileSaver.min.js'}"></script>
<script>
    $(function () {
      $('table').DataTable();
    })
    var data_user = ${transJson1.raw()};
  </script>
#{/set}

#{if flash.success}   
    <div class="alert alert-success alert-with-icon alert-rounded" style="margin-bottom: 0 !important;padding: 5px !important;">
        <i class="fa fa-check"></i>&nbsp;${flash.get("success")}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>&nbsp;
        </button>
    </div>
    <br>
#{/if}

<a href="@{CUser.form()}" class="btn btn-primary">
        <i class="fa fa-user-plus"></i>
        Tambah User
    </a>
<br/><br/>
<table class="table table-bordered table-striped">
    <thead>
        <th width="20">#</th>
        <th >Nama</th>
        <th >Username</th>
        <th >Email</th>
        <th >NPWP</th>
        <th >Role</th>
        <th></th>
    </thead>
    #{list users, as:'usr'}
    <tr>
        <td>${usr_index}</td>
        <td>${usr.nama}</td>
        <td>${usr.username}</td>
        <td>${usr.email}</td>
        <td>${usr.npwp}</td>
        <td>${usr.role?.name}</td>
        <td>
            #{if usr.nama != "Super Admin"}
            <a class="btn btn-primary btn-sm" href="@{CUser.form(usr.id)}">
                <i class="fa fa-pencil"></i>
            </a>
            <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_konfirmasi-${usr.id}"> 
                <i class="fa fa-trash"></i>
            </a>
            #{/if}

        </td>
    </tr>

    <div class="modal modal-danger fade" id="modal_konfirmasi-${usr.id}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Konfirmasi Hapus User</h4>
            </div>
            <div class="modal-body">
              <p>Anda yakin akan menghapus <b>${usr.nama} ?</b></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
              <a class="btn btn-outline pull-right" href="@{CUser.delete(usr.id)}">
                  Lanjutkan
              </a>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    #{/list}
</table>
<button class="btn btn-primary btn-sm" onclick="generateXlsxUser()">
        <i class="fa fa-file-excel-o"></i> Export To Excel
</button>
<button class="btn btn-primary btn-sm" onclick="generateJsonUser()">
        <i class="fa fa-file-excel-o"></i> Export To Json
</button>
