#{extends 'template/layout.html' /}
#{set title:'Role' /}
#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/lte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css'}">
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/lte/bower_components/datatables.net/js/jquery.dataTables.min.js'}"></script>
<script src="@{'/public/lte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js'}"></script>
<script type="text/javascript" src="@{'public/js-xlsx/jszip.js'}"></script>
<script type="text/javascript" src="@{'public/js-xlsx/xlsx.js'}"></script>
<!-- <script type="text/javascript" src="@{'public/utils/download-trx.js'}"></script> -->
<script type="text/javascript" src="@{'public/utils/download-role.js'}"></script>
<script type="text/javascript" src="@{'public/filesaver/FileSaver.min.js'}"></script>
<script>
    $(function () {
      $('table').DataTable();
    })
    var data_role = ${transJson2.raw()};
  </script>
#{/set}

#{if flash.success}   
    <div class="alert alert-success alert-with-icon alert-rounded" style="margin-bottom: 0 !important;padding: 5px !important;">
        <i class="fa fa-check"></i>&nbsp;${flash.get("success")}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>&nbsp;
        </button>
    </div>
    <br>
#{/if}

<a href="@{CRole.form()}" class="btn btn-primary">
        <i class="fa fa-user-plus"></i>
        Tambah Role
    </a>
<br/><br/>
<table class="table table-bordered table-striped">
    <thead>
        <th width="20">#</th>
        <th >Nama</th>
        <th></th>
    </thead>
    #{list roles, as:'role'}
    <tr>
        <td>${role_index}</td>
        <td>${role.name}</td>
        <td>
            <a class="btn btn-primary btn-sm" href="@{CRole.form(role.id)}">
                <i class="fa fa-pencil"></i>
            </a>
            <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_konfirmasi-${role.id}">
                <i class="fa fa-trash"></i>
            </a>
        </td>
    </tr>

    <div class="modal modal-danger fade" id="modal_konfirmasi-${role.id}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Konfirmasi Hapus Role</h4>
            </div>
            <div class="modal-body">
              <p>Anda yakin akan menghapus <b>${role.name} ?</b></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
              <a class="btn btn-outline pull-right" href="@{CRole.delete(role.id)}">
                  Lanjutkan
              </a>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    #{/list}
</table>
<button class="btn btn-primary btn-sm" onclick="generateXlsxRole()">
        <i class="fa fa-file-excel-o"></i> Export To Excel
</button>
<button class="btn btn-primary btn-sm" onclick="generateJsonRole()">
        <i class="fa fa-file-excel-o"></i> Export To Json
</button>
