#{extends 'template/layout.html' /}
#{set title:'Produk' /}
#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/lte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css'}">
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/lte/bower_components/datatables.net/js/jquery.dataTables.min.js'}"></script>
<script src="@{'/public/lte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js'}"></script>
<script type="text/javascript" src="@{'public/js-xlsx/jszip.js'}"></script>
<script type="text/javascript" src="@{'public/js-xlsx/xlsx.js'}"></script>
<!-- <script type="text/javascript" src="@{'public/utils/download-trx.js'}"></script> -->
<script type="text/javascript" src="@{'public/utils/download-barang.js'}"></script>
<script type="text/javascript" src="@{'public/filesaver/FileSaver.min.js'}"></script>
<script>
	$(function () {
		$('#table-produk thead tr').clone(true).appendTo( '#table-produk thead' );
		$('#table-produk thead tr:eq(1) th').each( function (i) {
	        var title = $(this).text();
	        if (title != '#') {
	        	
	        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
	 
	        $( 'input', this ).on( 'keyup change', function () {
	            if ( table.column(i).search() !== this.value ) {
	                table
	                    .column(i)
	                    .search( this.value )
	                    .draw();
	            }
	        } );
	        
		    }
		
	    } );
		
		var table = $('#table-produk').DataTable( {
	        orderCellsTop: true,
	        fixedHeader: true
	     } );
	    	
	})

    /* $(function () {
      $('table').DataTable();
    }) */
    var data_barang = ${transJson4.raw()};
  </script>
#{/set}

#{if flash.success}   
    <div class="alert alert-success alert-with-icon alert-rounded" style="margin-bottom: 0 !important;padding: 5px !important;">
        <i class="fa fa-check"></i>&nbsp;${flash.get("success")}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>&nbsp;
        </button>
    </div>
    <br>
#{/if}

<table id="table-produk" class="table table-bordered table-striped">
    <thead>
        <tr>
        <th width="20">#</th>
        <th>Nama</th>
        <th>Deskripsi</th>
        <th>Harga</th>
        <th>Stok</th>
        <th>User</th>
        <th></th>
        </tr>
    </thead>
    #{list barangs, as:'brg'}
    <tr>
        <td>${brg_index}</td>
        <td>${brg.nama}</td>
        <td>${brg.deskripsi}</td>
        <td>Rp ${java.text.NumberFormat.getInstance(new Locale("da", "DK")).format((brg.harga instanceof Number) ? (Number) brg.harga : 0)
        }</td>
        <td>${java.text.NumberFormat.getInstance(new Locale("da", "DK")).format((brg.stok instanceof Number) ? (Number) brg.stok : 0)
        }</td>
        <td>${brg.user.nama}</td>
        <td>
            <a class="btn btn-primary btn-sm" href="@{CProduk.form(brg.id)}">
                <i class="fa fa-cart-plus"></i>
            </a>
        </td>
    </tr>
    #{/list}
</table>
<button class="btn btn-primary btn-sm" onclick="generateXlsxBarang()">
        <i class="fa fa-file-excel-o"></i> Export To Excel
</button>
<button class="btn btn-primary btn-sm" onclick="generateJsonBarang()">
        <i class="fa fa-file-excel-o"></i> Export To Json
</button>
