#{extends 'workflow/border.html' /}
<ol class="breadcrumb">
  <li><a href="@{workflow.WorkflowBrowser.index()}">Workflow Browser</a></li>
  <li class="active">Show Process Instance</li>
</ol>
<h4>Process Instance: ${pi?.process_instance_id} - <a href="javascript:popup('@{workflow.WorkflowBrowser.showProcessDefinition(pi.process_definition_id)}')">Process Definition: ${pi.process_definition_id}</a></h4>
<p>Start Date: ${pi?.start_date} - Current State: ${pi?.currentStateInstanceString}</p>
<p>Description: ${pi?.description}</p>
<p><b>Current Date is ${date?.format('dd MMMM yyyy hh:mm:ss')}</b></p>
<div class="row">
  <div class="col-md-6">
      <h5>Variables</h5>
      #{form @workflow.WorkflowBrowser.processInstanceUpdateVariables(pi.process_instance_id)}
      <table class="table table-condensed">
      #{list pi.processDefinition.variableList, as:'var'}
       #{set value:pi.getVariableInstance(var.name)?.value /}
        <tr>
          <td>${var.name}</td>
          <td width="5">=</td>
          <td><select name="VAR_${var.name}" class="form-control">
          	<option value="true" #{if value=='true'} selected #{/if}>true</option> 
          	<option value="false" #{if value=='false'} selected #{/if}>false</option>
          </select>          
             </td>
        </tr>
      #{/list}  
      #{if editable} 
      <tr>
      	<td colspan="3"><input type="submit" name="simpan" class="btn btn-success" value="Save..." /></td>
      </tr>
      #{/if}
      </table>         
      #{/form}
  </div>
  <div class="col-md-6">
      <h5>[${pi.status}] - States</h5>
      <table class="table table-condensed">
      <tr>
        <th>ID</th>
        <th> State</th>
        <th>Enter Date</th>
        <th>Exit Date</th>
        <th>Active</th>
        </tr>
     #{list pi.stateInstanceList, as:'si'} 
      <tr>
        <td>${si.state_instance_id}</td>
        <td><span #{if si.active_state}class="bold"#{/if}>${si.state.name}</span></td>
        <td>${si.enter_date}</td>
        <td>${si.exit_date}</td>
        <td>${si.active_state}</td>
        </tr>
      #{/list}
    </table>
  </div>
</div>

