#{extends 'workflow/border.html' /}
<h2><a href="@{workflow.WorkflowBrowser.index()}">Workflow Browser</a> &gt; Upload Process Definition</h2>
<table border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td colspan="3" valign="top"> </td>
  </tr>
  <tr>
    <td valign="top"><table border="0" cellpadding="2" cellspacing="1" id="grid">
      <tr>
        <th>Process Definition</th>
        </tr>
      #{list listPD, as:'pd'}
  <tr>
    <td><a href="javascript:popup('@{workflow.WorkflowBrowser.showProcessDefinition(pd.process_definition_id)}')">${pd.workflow_id}  v-${pd.version}</a></td>
    </tr>
      #{/list}
    </table></td>
    <td>&nbsp;</td>
    <td valign="top"></td>
  </tr>
</table>

<table border="0" cellpadding="2" cellspacing="1" id="grid">
      <tr>
        <th>Process InstanceID</th>
        <th>Description</th>
        <th>Current State</th>
      </tr>
      #{list listPI, as:'pi'}
  <tr>
    <td nowrap="nowrap"><a href="@{workflow.WorkflowBrowser.showProcessInstance(pi.process_instance_id)}">${pi.processDefinition.workflow_id} #${pi.process_instance_id}</a></td>
    <td>${pi.description}</td>
    <td>[${pi.status}] ${pi.currentStateInstanceString}</td>
  </tr>
      #{/list}
</table>

