#{extends 'template/layout.html' /}
#{set title:'User' /}

<!-- Horizontal Form -->
<div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Forgot Password</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" action="@{CAuth.forgotPasswordSubmit}">
      <div class="box-body">
        <div class="form-group">
            <label class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
              <input name="user.username" type="text" class="form-control" placeholder="Username">
            </div>
          </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
            <input name="user.email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>

      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <a href="@{CUser.index()}" class="btn btn-default">Cancel</a>
        <button type="submit" class="btn btn-info pull-right">Save</button>
      </div>
      <!-- /.box-footer -->
    </form>
  </div>
  <!-- /.box -->