#{extends 'template/layout.html' /}
#{set title:'Barang' /}
#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/lte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css'}">
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/lte/bower_components/datatables.net/js/jquery.dataTables.min.js'}"></script>
<script src="@{'/public/lte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js'}"></script>
<script type="text/javascript" src="@{'public/js-xlsx/jszip.js'}"></script>
<script type="text/javascript" src="@{'public/js-xlsx/xlsx.js'}"></script>
<!-- <script type="text/javascript" src="@{'public/utils/download-trx.js'}"></script> -->
<script type="text/javascript" src="@{'public/utils/download-barang.js'}"></script>
<script type="text/javascript" src="@{'public/filesaver/FileSaver.min.js'}"></script>
<script>
    $(function () {
      $('table').DataTable();
    })
    var data_barang = ${transJson3.raw()};
  </script>
#{/set}
#{if loginInfo.role_id == 4}
<a href="@{CBarang.form()}" class="btn btn-primary">
        <i class="fa fa-user-plus"></i>
        Tambah Barang
    </a>
<br/><br/>
#{/if}
<table class="table table-bordered table-striped">
    <thead>
        <th width="20">#</th>
        <th>Nama</th>
        <th>Deskripsi</th>
        <th>Harga</th>
        <th>Stok</th>
        <th>User</th>
        <th></th>
    </thead>
    #{list barangs, as:'brg'}
    <tr>
        <td>${brg_index}</td>
        <td>${brg.nama}</td>
        <td>${brg.deskripsi}</td>
        <td>Rp ${java.text.NumberFormat.getInstance(new Locale("da", "DK")).format((brg.harga instanceof Number) ? (Number) brg.harga : 0)
        }</td>
        <td>${java.text.NumberFormat.getInstance(new Locale("da", "DK")).format((brg.stok instanceof Number) ? (Number) brg.stok : 0)
        }</td>
        <td>${brg.user.nama}</td>
        <td>
            #{if loginInfo.id == brg.user_id}
            <a class="btn btn-primary btn-sm" href="@{CBarang.form(brg.id)}">
                <i class="fa fa-pencil"></i>
            </a>
            <a class="btn btn-primary btn-sm" href="@{CBarang.delete(brg.id)}"
            onClick="return confirm('Apakah anda yakin mau hapus record ini ?')">
                <i class="fa fa-trash"></i>
            </a>
            #{/if}
        </td>
    </tr>
    #{/list}
</table>
<button class="btn btn-primary btn-sm" onclick="generateXlsxBarang()">
        <i class="fa fa-file-excel-o"></i> Export To Excel
</button>
<button class="btn btn-primary btn-sm" onclick="generateJsonBarang()">
        <i class="fa fa-file-excel-o"></i> Export To Json
</button>
